<div>
	<strong> <%= mantenimiento.item %></strong>
	<%= mantenimiento.sku %>
	<%= mantenimiento.quantity %>
	<%= mantenimiento.apartment %>
	<%= mantenimiento.status %>
	<%= link_to "Ver Producto", mantenimiento%>
</div>